# Python stuff
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Mac stuff
.DS_Store

# Project specific stuff
.udacity-pa/
rubric.md
project_intro.md
original_readme.md
cheat_sheet_classical_planning.md
cheat_sheet_symbolic_logic.md
*.zip
plan.*

# Environments
.env
